/*general*/
html {
    height: 100%;
    margin: 0;
}

body {
  height:100%;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  color:black;
  position:relative;
  font-weight: 400;

}

h2 {
    font-family: "Prata", serif;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/*navbar*/
.navbar-fixed-top{
    background-color: white;
    height: 75px;
    border: none;
   	box-shadow: 0 1px 17px 0 rgba(109,109,109,0.5);
}

/*logo*/
.navbar-brand {
    color: #8c8c8c;
    text-transform: lowercase;
    font-weight: 700;
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0.4em 0.1em 0.4em 0.1em;
    padding-left: 2em;
}

.logo-red {
    color: #D0021B;
}

/*page links*/
.navbar-nav {
    color: #8c8c8c;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 12px 40px 15px 20px;
    text-align: center;
}

.navbar-nav li a{
    padding: 0.1em 0.1em 0.2em 0.1em;
    margin: 1.5em 3em 0.5em 2em;
}


.navbar-nav {
	margin: 0 auto;
	text-align: center;
	display: block;
	z-index: 100;
}

.navbar-nav a {
	color: #888;
	transition: all ease 0.1s;
	border-bottom: #D0021B solid 0em;
	padding-bottom: 0.6em;
}

.navbar-nav a:hover,
.navbar-nav a.active {
	color: #333;
	border-bottom: #D0021B solid 0.2em;
	padding-bottom: 0.2em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
}

button.navbar-toggle {
    margin-top: 1em;
}

/*spacers*/
.spacerXLarge {
    height: 15em;
}

.spacerLarge {
    height: 10em;
}

.spacerSmall {
    height: 5em;
}

.spacerXSmall {
    height: 0.5em;
}

/*portfolio sections*/
.mainSection {
    position: relative;
    margin-bottom: 2em;
    clear: both;
    padding-left: 3em;
    padding-right: 3em;
    max-width: 65ch;
}

.contactSection {
    position: relative;
    margin-bottom: 2em;
    clear: both;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: 3em;
    margin-right: 3em;
    max-width: 100ch;
}

/*headshot*/
.sectionImages {
    position: relative;
    margin-bottom: 5em;
    clear: both;
    padding-left: 3em;
    padding-right: 3em;
}

/*names of tools used in each section*/
.tools {
    font-style: italic;
    font-weight: 300;
    color: #8c8c8c;
}

/*images on portfolio page*/
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}

@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 600px;     /* use this to change image size */
  margin: auto;
  overflow: hidden;
}

#half-size {
    max-width: 300px; 
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.imageContainer {
    float: left;
}

.content .content-overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  padding:20px 20px 20px 20px;
  width: 100%;
}

.img-responsive {
    max-width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.content-details p{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding-left: 4em;
  padding-right: 4em;
}

.fadeIn-bottom{
  top: 80%;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
  text-align: center;
  color: #d3d3d3;
}

/*linkedIn*/
.mainSection a img {
    margin-top: 2em;
}

.smallHeadings {
    text-transform: uppercase;
    color: #D0021B;
    font-size: 14px;
/*    margin-right: 2em;*/
}

.smallParagraphs {
    color: #575757;
    font-size: 14px;
    line-height: 19px;
    padding-left: 1.5em;
}


#portfolioPage.mainSection {
    position: relative;
    margin-bottom: 2em;
    clear: both;
    padding-left: 3em;
    padding-right: 2em;
    max-width: 100ch;
}

#portfolioImage {
    padding: 0em 5em 0em 2em;
    max-width: 80%;
}

#portfolioImage-shadow {
    padding: 0;
    margin: 0em 5em 0em 2em;
    max-width: 80%;
    box-shadow:0px 0px 15px #999;
}

#sneakPeak {
    max-width:300px;
    display: inline;
    padding-right: 2em;
    padding-bottom: 2em;
}

.sectionSubhead {
    text-transform: uppercase;
    color: #D0021B;
    font-size: 16px;
    margin-top:0;
    letter-spacing: 2px;
}

.sectionSubsubhead {
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    margin-top:0;
    letter-spacing: 2px;
}


.list {
    font-size: 12px;
}

/*contact submission button*/
#contactSubmit {
    margin-top: 0;
    margin-left: 0em;
    margin-bottom: 0em;
    background-color: #D0021B;
    text-transform: uppercase;
    border-radius: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.5em 5em 0.5em 5em;
    text-decoration: none;
    border: none;
}


#contactSubmit:hover {
    background-color: black;
    text-transform: uppercase;
    border-radius: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.5em 5em 0.5em 5em;
    
    transition: background .2s ease-in;
}

#contactSubmit:active {
    background-color: black;
    text-transform: uppercase;
    border-radius: 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.5em 5em 0.5em 5em;
}

#contactSubmit:visited {
    background-color: #D0021B;
    text-transform: uppercase;
    border-radius: 0;
    color: black;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.5em 5em 0.5em 5em;
}

.greyBG {
    background-color: #f8f8f8;
    width:60%;
    margin: 0 auto;
}

#tooltipDiv {
    font-family: "Roboto", sans-serif;
    font-size: 9pt; 
    background-color: white;
    
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    
    height: max-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    
    padding-top:0.3em;
    padding-bottom: 0.3em;
    padding-left:0.5em;
    padding-right:0.5em;

    position: fixed;
    
    top:0;
    left: 0;

    margin: auto;
}

#cover {position: fixed; height: 100%; width: 100%; top:90px; left: 0; background: #000; z-index:9999; background-color: #fff;}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #D0021B;
  border-right: 2px solid transparent;
  animation: spinner 1s linear infinite;
  z-index: 1000000;
}

